/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: verdana;
 }

nav {
  background-color: #FF6601;
  width: 100;
  margin-bottom: 0;
}

main {
  background-color: #F6F5F0;
  width: 100%;
  margin-top: 0;
}

h1 {
  display: inline;
}

.post-title {
  font-size: 12px;
  margin-bottom: 0;
}

.post-details {
  font-size: 9px;
  color: #828282;
}

@media only screen and (min-width: 768px) {
  main {
    width: 85%;
    margin: auto;
  }

  nav {
    width: 85%;
    margin: auto;
  }

  .post-title {
    font-size: 14px;
  }

  .post-details {
    font-size: 12px;
  }

}
